{{#if contentComponent}}
  {{component
    contentComponent
    title=title
    message=message
    setOption=setOption}}
{{else}}
  <p class="ember-notifier-title">
    {{title}}
  </p>
  <p class="ember-notifier-message">
    {{message}}
  </p>
{{/if}}