{{#if contentComponent}}
  {{component
    contentComponent
    title=title
    message=message
    setOption=setOption}}
{{else}}
  <p class="ember-notifier-title">
    {{this.title}}
  </p>
  <p class="ember-notifier-message">
    {{this.message}}
  </p>
{{/if}}