{{!--BEGIN-SNIPPET addon-dynamic-demo.hbs--}}
<button
  class="docs-bg-grey-darkest hover:docs-bg-black docs-text-white docs-py-2 docs-px-4 docs-no-underline docs-rounded"
  type="button"
  onclick={{action "launchTask"}}>
  Launch task
</button>
{{!--END-SNIPPET--}}