{{!--BEGIN-SNIPPET addon-dynamic-demo.hbs--}}
<button
  class="py-2 px-4 rounded bg-blue hover:bg-blue-dark text-white font-bold"
  type="button"
  {{action "launchTask"}}>
  Launch task
</button>
{{!--END-SNIPPET--}}