{{!--BEGIN-SNIPPET addon-dynamic-demo.hbs--}}
<button
  class="docs-py-2 docs-px-4 docs-rounded docs-bg-blue docs-hover:bg-blue-dark docs-text-white docs-font-bold"
  type="button"
  onclick={{action "launchTask"}}>
  Launch task
</button>
{{!--END-SNIPPET--}}