//! BEGIN-SNIPPET style-sass.scss
$ember-notifier-z-index: 999999;
$ember-notifier-text-color: #000000;
$ember-notifier-primary-background-color: #5755D9;
$ember-notifier-close-button-size: 1.25rem;

@import 'ember-notifier';
//! END-SNIPPET
