{{#if messageComponent}}
  {{component
    messageComponent
    title=title
    message=message
    setOption=setOption}}
{{else}}
  <p class="ember-notifier-title">
    {{title}}
  </p>
  <p class="ember-notifier-content">
    {{message}}
  </p>
{{/if}}